@media only screen and (min-width: 951px) {
  .split-block.v3 .floated-image.horizontal {
    right: -50px;
  }
}

@media only screen and (max-width: 950px) {
  header .main-nav {
    display: none;
  }
  header .mobile-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .split-block.v1 .floated-image {
    bottom: -90px !important;
  }
  .split-block.v1 .text-block p {
    max-width: 100%;
  }
  .split-block.v3 {
    padding: 220px 0 100px;
  }
  .split-block.v3 .floated-image.horizontal {
    top: -230px;
    right: -3vw !important;
  }
  .split-block .flex-container .image-block {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    max-width: 40%;
  }
  .split-block .flex-container .text-block {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    max-width: 60%;
  }
  .split-block .flex-container .text-block p {
    margin: 25px 0;
  }
  .testimonials-slider .swiper-container {
    max-width: 90%;
    margin: auto;
  }
  .testimonials-slider .swiper-container .swiper-slide p {
    font-size: 1rem;
  }
  .testimonials-slider .swiper-container .swiper-slide .client-name {
    font-size: 0.85rem;
  }
  .testimonials-slider .swiper-container .swiper-slide .slide-content-wrap {
    margin: 70px auto 70px;
  }
  .testimonials-slider .swiper-container .swiper-slide .slide-content-wrap::before {
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 25px;
    left: 50%;
    margin-left: -15px;
  }
  .testimonials-slider .swiper-container .swiper-slide .slide-content-wrap::after {
    display: none;
  }
  .color-block .large-text {
    font-size: 1.5rem;
    width: 100%;
    max-width: 650px;
  }
  .contact-form .floated-image.right.top.horizontal {
    display: none;
  }
  /* Testimonial List */
  .testimonials-list .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .testimonials-list .flex-container > :nth-child(2) {
    border-top: 1px solid #99e3ff;
  }
  .testimonials-list .testimonial {
    width: 100%;
    margin: 15px 0px;
    padding: 35px 0 25px;
  }
}

@media only screen and (max-width: 700px) {
  section {
    padding: 100px 0;
    margin: 0px 0;
  }
  .full-screen-hero .wrapper a {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2.75rem;
  }
  .offset-left {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  .split-block.v1 .floated-image {
    top: 140px;
    left: 245px !important;
  }
  .split-block.v2 .text-block p {
    max-width: 100%;
  }
  .split-block.v2 .floated-image.top {
    top: -160px;
    width: 25vw;
    min-width: 150px;
  }
  .split-block .flex-container {
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .split-block .flex-container > div {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 100% !important;
  }
  .split-block .flex-container .image-block .feature-image-mask {
    width: 100%;
    max-height: 350px;
    max-width: 280px;
  }
  .split-block .flex-container .image-block .feature-image-mask.right-overlay:after {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), color-stop(35%, transparent));
    background: linear-gradient(to top, rgba(255, 255, 255, 0.6), transparent 35%);
  }
  .split-block .flex-container .text-block {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    padding-left: 0;
  }
  .split-block .flex-container .text-block p {
    max-width: 450px;
  }
  .split-block.v2 .image-block {
    display: none;
  }
  .split-block.v2 .text-block {
    width: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .split-block.v2 .text-block h2 {
    width: auto;
  }
  .split-block.v2 .text-block p {
    margin: 25px 0 0;
  }
  .split-block.v3 .text-block {
    margin-top: -15px;
  }
  .testimonials-slider .floated-image.left.top {
    top: -165px;
  }
  .contact-form .floated-image.left.top {
    top: 20px !important;
  }
  .contact-form .form-input {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 15px;
  }
  .contact-form .wrapper {
    width: 100%;
  }
  .contact-form .wrapper .form-wrap {
    padding: 15px 30px 25px;
  }
  .contact-info {
    padding: 30px 0 10px;
  }
  .contact-info .wrapper {
    margin: 0;
    width: 100%;
  }
  .contact-info .image-block {
    display: none;
  }
  .contact-info .text-block {
    width: 100% !important;
    padding: 40px 40px 50px;
    position: relative !important;
  }
  .instagram-block .insta-feed {
    padding: 40px;
  }
  .instagram-block .half-color-bg {
    height: 60%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 2.35rem;
  }
  h2 {
    font-size: 2rem;
  }
  .v1 .floated-image {
    display: none;
  }
  .split-block .flex-container .text-block {
    margin-top: -40px;
  }
}
/*# sourceMappingURL=style-responsive.css.map */