@font-face {
    font-family: 'GoldenPlains';
    src: url('GoldenPlains.woff2') format('woff2'),
        url('GoldenPlains.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoldenPlains';
    src: url('GoldenPlains.woff2') format('woff2'),
        url('GoldenPlains.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

